<link href="/css/style.css" rel="stylesheet" type="text/css">
<br>
<br>
<br>


<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<div class="main">
	<div class = "border">
		<div class = "inner-cutout"> 
			<h1 class="knockout">We will style <br>While you smile</h1>
		</div>
	</div>
</div>
  
    
