<link href="/css/styles.css" rel="stylesheet" type="text/css">
<script defer src="/public/js/effect.js"></script>
<br>
<body style="background-color:rgb(230,230,250);"></body>

<!--<p  style="color:purple !important ;font-size: 150%"> Welcome <%= user.name %> (<%= user.role %> )</p>-->
<br>
<br>
<div class="textcontainer">
    <span class="particletext bubbles">Good</span>
 </div>
 
 <div class="textcontainer">
    <span class="particletext confetti">Hair</span>
 </div>
 
 <div class="textcontainer">
    <span class="particletext hearts">speaks </span>
 </div>
 
 <div class="textcontainer">
    <span class="particletext fire">louder than</span>
 </div>
 
 
 <div class="textcontainer">
    <span class="particletext lines">words</span>
 </div>
 
 <!--<div class="textcontainer">
    <span class="particletext sunbeams">Beams?</span>
 </div>-->
